*{
    margin: 0px;
    padding: 0px;
    color: white;
}


header {
    background:  url(https://img.freepik.com/premium-photo/group-diverse-business-people-working-together-having-meeting_695793-1294.jpg?w=2000);
    min-height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 30px;
    border-bottom: 1px solid white;
    justify-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li:hover{
    border-bottom: 1px solid blue;
}

.uvod{
    margin-top: 40vh;
    text-align: center;
    width: 50%;
    margin-inline: auto;
}

.uvod p{
    line-height: 2rem;
    margin-block: 20px;
}

button{
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    font-weight: bold;
}

#sec-2 {
    display: flex;
}

#sec-2 > div {
    width: 50%;
    box-sizing: border-box;
    background-color: black;
    min-height: 100vh;
    text-align: center;
    
    
}

#context button{
    border: 2px solid white;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 100px;
}

#context h2{
    font-size: 3rem;
}

#img-container{
    background-image: url(https://www.betterup.com/hubfs/Happy-work-team-cheering-and-celebrating-at-meeting-team-collaboration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#sec-1{
    background-color: cornflowerblue;
    display: flex;
    gap: 20%;
    
}

#sec-1 h1{
    width: 400px;

}