body {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}

.ovoce{
    color: rgb(103, 235, 42);
    border: 2px solid rgb(202, 55, 202);
}

a {
    color:red;
}

table, th, td{
    border: 2px solid;
    border-collapse: collapse;
    width: auto;
    
}

th, td {
    padding: 10px;
}



